<launch>
    <arg name="map_path" default="/home/cpsl/data/maps/CPSL_clean.yaml"/>
    <arg name="map_topic_static" default="/map"/>
    <arg name="map_topic_dynamic" default="/modified_map"/>
    <arg name="map_frame_id" default="map"/>
    <arg name="update_rate_Hz" default="0.25"/>
    <arg name="point_cloud_updates_enabled" default="true"/>
    <arg name="point_cloud_updates_topic" default="/lidar/cloudout"/>
    <arg name="bounding_box_updates_enabled" default="false"/>
    <arg name="bounding_box_updates_topic" default="/bbox_3d_array"/>
    <arg name="known_agent_map_removal_enabled" default="True"/>
    <arg name="known_agent_topic" default="/radar/filter/odometry"/>
    <arg name="known_agent_filter_radius_m" default="1.0"/>
    <node pkg="map_server" type="map_server_sensor_updates.py" name="map_server_sensor_updates" output = "screen">
        <param name="map_path" value="$(arg map_path)"/>
        <param name="map_topic_static" value="$(arg map_topic_static)"/>
        <param name="map_topic_dynamic" value="$(arg map_topic_dynamic)"/>
        <param name="map_frame_id" value="$(arg map_frame_id)"/>
        <param name="update_rate_Hz" value="$(arg update_rate_Hz)"/>
        <param name="point_cloud_updates_enabled" value="$(arg point_cloud_updates_enabled)"/>
        <param name="point_cloud_updates_topic" value="$(arg point_cloud_updates_topic)"/>
        <param name="bounding_box_updates_enabled" value="$(arg bounding_box_updates_enabled)"/>
        <param name="bounding_box_updates_topic" value="$(arg bounding_box_updates_topic)"/>
        <param name="known_agent_map_removal_enabled" value="$(arg known_agent_map_removal_enabled)"/>
        <param name="known_agent_topic" value="$(arg known_agent_topic)"/>
        <param name="known_agent_filter_radius_m" value="$(arg known_agent_filter_radius_m)"/>
    </node>
</launch>